<% remote_form_for(:settings, :url => admin_settings_path, :method => :put, :html => {:class => 'setting-form'} ) do |f| %>

<% settings.each do |setting| %>

  <p>
<% unless setting.empty? %>
  <%= f.label setting[0] %><br/>

<%  unless setting[2].blank? %>
    <span class="setting-description"><%= setting[2] %></span><br/>
<%  end %>

<%= case setting[1] 
    when "text"
      f.text_field setting[0]
    when "text_area"
      f.text_area setting[0], :rows => 3
    when "checkbox"
      f.check_box setting[0]
    else
      nil
   end %>
  </p>

<% else %>
  <br />
<% end %>

<% end %>
  <%= f.submit "Set", :disable_with => 'Setting...' %>
<% end -%>