<h1>Dashboard</h1>

<br style="clear: both;"/>

<% unless @subscribers == 0 -%>
<div class="module">
<h2>Newsletter Subscribers</h2>
<p>Total: <%= @subscribers %></p>
</div>
<% end -%>

<% unless @draft_articles.empty? -%>
<div class="module">
<h2>Draft Articles</h2>
<table>
<% for article in @draft_articles %>
	<tr><td><%= link_to article.title, [:admin, article] %></td></tr>
<% end %>
</table>
</div>
<% end -%>

<% unless @latest_comments.empty? -%>
<div class="module">
<h2>Latest Comments</h2>
<% for comment in @latest_comments %>
	<p><%= comment.body %></p>
<% end %>
</div>
<% end -%>

<div class="module">
<h2>Latest Flickr Images</h2>
<%= lastest_flickr %>
</div>